@import "tokens";
@import "slots";

$configs: (
  typography: (
    // Define base font size
    // This is used for px to rem calculations
    baseFontSize: 16,

    // Define font fallbacks
    // Key: quoted string, should match fontFamily name as defined in tokens.scss
    // Value: quoted string of valid css font-family
    fontFallbacks:
      (
        "Plus Jakarta Sans": "sans-serif"
      ),

    // Fluid typography config
    // Used to apply fluid typography to font styles
    fluid:
      (
        // Default range
        // 'heading xl':
        //   (
        //     start: default,
        //     end: desktop,
        //   )
      ),
  ),
  breakpoints: (
    "default": 0rem,
    // "custom": 123rem,
  ),
);
