// Slots
// Deep map providing nodes to elements. 
//
// value: There are few keywords 
// color token name or list of keys for deeper nested and responsive colors.
//        responsive colors
// usage: slot(color, test)
//        slot(color, typography, h1)
//        responsive-slot('grid-column', grid, component, cta)
//
$slots: (
  page: (
    background: token(color, base, white),
    text: token(color, base, black),
    accent: token(color, brand, green),
    space: token(sizes, md, default),
    spacing: token(sizes, xs), // (
      // default: token(sizes, xs, default),
      // desktop: token(sizes, xs, desktop),
    // ),
    angle: 2.5,
    radius: rem(8), 
  ),

  component: (
    spacing: (
      default: token(sizes, md, default),
      desktop: token(sizes, md, desktop),
    ),
  ),

  grid: (
    full: '1 / -1',
    wide: '2 / -2',
    content: '3 / -3',
    'content 1/2': '3 / span 6',
    'content 2/2': '7 / -3',
    narrow: '5 / -5',
  )
);

