.callToAction {
    @include responsive-grid();
    margin-bottom: 80px;
  
    &__inner {
      grid-column: slot(grid, wide);
      display: flex;
      justify-content: space-between;
    }

    &__content {
        &-intro {
            @include typography('heading lg');
        }

        &-paragraph {
            margin-top: 24px;
            @include typography('text lg');
        }
    }

    &__button {
        .icon-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;

        width: 120px;
        height: 44px;
        background: token(color, base, 'white');

        @include typography('label md');

        border: 1px solid #D1D1D6;
        border-radius: 8px;

        margin: auto;

        .arrow-right {
            margin-left: 10px;
        }
        }
        
    }
  }