.card {
  flex: 0 1 33%;
  height: 100%;
  margin-bottom: 4vh;
  

  &__media {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    &-image {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      transition: transform .3s ease;
      z-index: 0;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    margin-top: -12vw;
    width: 100%;
    height: 12vw;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    padding: 1.5em 1.5em;
    display: flex;
    align-items: flex-start;
    place-content: flex-start space-evenly;
    flex-direction: column;

    &-label{
      @include typography('label sm');
      width: fit-content;
      padding: 0.2em 0.4em;
      border-radius: 5px;
      text-align: center;
    }

    &-title{
      @include typography('heading sm');
      color:white;
    }

    &-location{
      @include typography('label sm');
      color: white;
    }
  }
}