// CTA section styles
.cta {
  @include responsive-grid();
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 0px 80px 80px;
  gap: 24px;
  width: 1440px;
  height: 212px;
  height: auto;
  margin-bottom: 0;
  border: 1px solid red;

  // inner container
  &__inner {
    // please review this 
    grid-column: slot(grid, full);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 24px;
    isolation: isolate;
    // parent to button
    position: relative;
    width: 1280px;
    height: 132px;
    border: 1px dashed blue;
  }

  // content container
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 532px;
    height: 132px;

    &-title {
      @include typography("heading lg");
    }

    &-paragraph {
      @include typography("text lg");
    }

    &-button {
      @include typography("label md");
      background: transparent;
      color: $color-neutrals-700;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 16px;
      // force centred btn content
      // figma has a hidden icon
      padding-left: 21px;
      position: absolute;
      width: 120px;
      height: 44px;
      right: 32px;
      top: 0px;
      border: 1px solid $color-neutrals-300;
      border-radius: 8px;
      cursor: pointer;
    }

    &-button-icon {
      width: 1.3em;
      height: 1.3em;
      margin-left: 8px;
      margin-right: -2px;
    }
  }
}