.info-box {
  @include responsive-grid();

  &__inner {
    grid-column: slot(grid, wide);
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 66ch;

    &-intro {
      @include typography("text xl");
      margin-bottom: 1.5em;
    }
    &-paragraph {
      @include typography("text md");
    }
  }
}
