.listing {


  @media(max-width: 799px) {

    & {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 85%;
      margin: auto;

    }

  }

  @media(min-width: 800px) {

    & {
      height: 100vh;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }

    &__inner {
      display: flex;
      justify-content: center;
      gap: 40px;
      width: 85%;
      margin: auto;
      height: 65%;

    }

  }

}