.listing {
  // @include responsive-grid();


  & {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__inner {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 85%;
    margin: auto;
    height: 60%;

  }

  &__cta {
    height: 20%;
    width: 85%;
    margin: auto;
    background-color: black;
  }

  // &__cta-item {
  //   height: 100%;

  // }

}