*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;

  background-color: slot(page, background);
  color: slot(page, text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  min-height: 100vh;

  width: 100vw;

  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('padding-top', page, spacing);
  @include responsive-slot('padding-bottom', page, spacing);

  overflow: hidden;
}

.component {
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('margin-top', component, spacing);
  @include responsive-slot('margin-bottom', component, spacing);

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

.main-content-ol {
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 1.5em;
  li {
    margin-bottom: 1rem;
    line-height: 1.4;
  }
}
.main-content-link {
  color: slot(page, accent);
}

.main-content-strong {
  font-weight: bold;
}
.main-content-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

a.button {
  display:inline-block;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #d1d1d6;
  @include typography('label md');
  color: #3f3f46;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

@media only screen and (width <= 414px) {
  a.button{
    display: block;
    margin: 0.4rem auto;
    text-align: center;
  }
}

a.button:hover {
  border: 1px solid #a0a0ab;
}

a.button:active {
  border: 1px solid #70707b;
  color: #18181b;
}

#SeeAll {
  display: none;
}

.card:hover .card__media-image {
  transform: scale(1.1);
}

.card__body-label.adventure {
  background-color: #ebe9fe;
  color: #783aee;
}

.card__body-label.luxury {
  background-color: #b2ddff;
  color: #1671ee;
}

.card__body-label.romantic {
  background-color: #f4f4f4;
  color: #51525c;
}

.card__body-label.sunny {
  background-color: #fef1c8;
  color: #dd6a02;
}

.pin {
  vertical-align: text-bottom;
}

.chevron {
  vertical-align: baseline;
}

@media only screen and (width <= 414px) {
  a.button{
    display: block;
    margin: 0.4rem auto;
    text-align: center;
  }

  .listing__inner {
    justify-content: center;
  }
}

@media only screen and (width > 414px) and (width <= 820px){
  .listing__inner {
    justify-content: space-between;
  }

  .listing__intro-body-title {
    margin-bottom: 2vh;
  }

  .listing__intro{
    padding-bottom: 1vh;
  }

}
