*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;

  background-color: slot(page, background);
  color: slot(page, text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  min-height: 100vh;

  width: 100vw;

  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('padding-top', page, spacing);
  @include responsive-slot('padding-bottom', page, spacing);

  overflow: hidden;
}

.component {
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('margin-top', component, spacing);
  @include responsive-slot('margin-bottom', component, spacing);

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

.main-content-ol {
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 1.5em;
  li {
    margin-bottom: 1rem;
    line-height: 1.4;
  }
}
.main-content-link {
  color: slot(page, accent);
}

.main-content-strong {
  font-weight: bold;
}
.main-content-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 24px;
  justify-content: space-between;
  margin: 8px;

  .text-container {
    width: 50%;
    gap: 12px;

    .heading {
      font-size: 40px;
      font-weight: 700;
      line-height: 125%;
      font-style: normal;
    }

    .paragraph-text {
      font-size: 18px;
      font-weight: 400;
      line-height: 160%;
      font-style: normal;
      margin: 24px 0px;
      letter-spacing: 0.02em;
    }
  }

  .cta-button {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 120px;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #D1D1D6;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #3F3F46;
  }
}

.listing {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 8px;
  width: full;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  .listing__inner {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 48px 24px 24px;

    .listing__item {
      .card__media {
        .card__media-image {
          width: 389px;
          height: 480px;
          border-radius: 8px;
        }
      }

      .card__body {
        position: relative;
        z-index: 10;
        height: 197px;
        top: -200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px 24px 24px;
        gap: 12px;
        width: 392px;
        .card__body-label-1 {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 125%;
          display: flex;
          align-items: center;
          color: #6927DA;
          background: #ECE9FE;
          border-radius: 4px;
          padding: 2px 8px;
        }
        .card__body-label-2 {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 125%;
          display: flex;
          align-items: center;
          color: #175CD3;
          background: #D1E9FF;
          ;
          border-radius: 4px;
          padding: 2px 8px;
        }
        .card__body-label-3 {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 125%;
          display: flex;
          align-items: center;
          color: #3F3F46;
          background: #F4F4F4;
          border-radius: 4px;
          padding: 2px 8px;
        }
        .card__body-title {
          font-size: 24px;
          font-weight: 700;
          line-height: 125%;
          font-style: normal;
        }
        .card__body-location {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 125%;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 4px;
        }
      }
    }
  }
}

// Media query for mobile devices
@media screen and (max-width: 767px) {
  .call-to-action {
    display: flex;
    flex-direction: column;

    .text-container {
      width: 100%;
    }
  }

  .listing {
    .listing__inner {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .card {
      height: 500px;
    }
  }
}