*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;

  background-color: slot(page, background);
  color: slot(page, text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  min-height: 100vh;

  width: 100vw;

  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  color: white;
}

p {
  line-height: 1.4;
}

.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('padding-top', page, spacing);
  @include responsive-slot('padding-bottom', page, spacing);

  overflow: hidden;
}

.component {
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('margin-top', component, spacing);
  @include responsive-slot('margin-bottom', component, spacing);

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

.main-content-ol {
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 1.5em;
  li {
    margin-bottom: 1rem;
    line-height: 1.4;
  }
}
.main-content-link {
  color: slot(page, accent);
}

.main-content-strong {
  font-weight: bold;
}
.main-content-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}
