*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;

  background-color: slot(page, background);
  color: slot(page, text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  min-height: 100vh;

  width: 100vw;

  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('padding-top', page, spacing);
  @include responsive-slot('padding-bottom', page, spacing);

  overflow: hidden;
}

.component {
  width: 100%;
  margin: 0 auto;

  @include responsive-slot('margin-top', component, spacing);
  @include responsive-slot('margin-bottom', component, spacing);

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

.main-content-ol {
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 1.5em;
  li {
    margin-bottom: 1rem;
    line-height: 1.4;
  }
}
.main-content-link {
  color: slot(page, accent);
}

.main-content-strong {
  font-weight: bold;
}
.main-content-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.intro-body-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

p {
  line-height: 1.6;
  font-size: large;
}

a.button {
  border: 1px solid #d4d4d8;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 24px;
  cursor: pointer;
}

a.button:hover {
  border: 1px solid #a6a6b0;
}

a.button:active {
  border: 1px solid #797983;
}

a.button:focus ~ .card1 {
  display: block;
}

.card1{
  display: none;
  width: 390px;
  height: 480px;
  border-radius: 8px;
}

#pleasework {
  display: none;
}

.card__media-image:hover {
  transform: scale(1.1);
}

.card__body-label.adventure {
  background-color: #ebe9fe;
  color: #783aee;
}

.card__body-label.luxury {
  background-color: #b2ddff;
  color: #1671ee;
}

.card__body-label.romantic {
  background-color: #f4f4f4;
  color: #51525c;
}

.card__body-label.sunny {
  background-color: #fef1c8;
  color: #dd6a02;
}

.pin {
  vertical-align: text-bottom;
}

