@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "mono";

@import "global";

@import "components/info-box.scss";

$tablet-screen: 768px;
$mobile-screen: 425px;

a {
    text-decoration: none;
}

.cta-component {
    width: 86%;
    padding: 100px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #fff0 0%, #00000038 55%), url("https://source.unsplash.com/random/1200x600/?travel"), no-repeat, ;
    background-size: cover;
    background-position: 50%;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 40%;

        & h2, & p {
            color: white;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        width: 30%;
        color: black;
        background-color: white;
        padding: 10px 20px;
        border-radius: 5px;
    }
}

.listing__inner{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 1.2em;
}

.card {
    display: flex;
    position: relative;
    width: 30%;
    height: 460px;
    overflow: hidden;
    border-radius: 5px;


    &:hover > &__media {
        transform: scale(1.2);
    }

    &::after {
        position: absolute;
        content: "";
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: rgb(54, 62, 75);
        background: linear-gradient(
        180deg,
        #00000000 50%,
        #000000 100%
    );

    }


    &__media {
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        height: 100%;
        z-index: -1;
        transition: 1s;
  

        &-image {
            min-height: 100%;
            max-width: 100%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-self: end;
        gap: 1em;
        padding: 20px;

        &-label {
            font-size: 0.8em;
            font-weight: 600;
            margin-bottom: 5px;

            & span {
                padding: 5px 7px;
                border-radius: 5px;

                &.first-span {
                    background-color:lavender;
                    color: purple;
                    
                }

                &.second-span {
                    background-color:lightblue;
                    color: blue;
                }

                &.third-span {
                    background-color:white;
                    color: black;
                }
            }
        }

        &-title {
            font-size: 1.4em;
            line-height: 1.2;
        }

        &-location {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 0.8em;
        }

        &-title, &-location {
            color: white;
            font-weight: 600;
        }
    }

}


// Tablet Styles
@media (max-width: $tablet-screen) {

    .cta-component {
        width: 90%;
        padding: 50px 20px;

        &__btn {
            width: 37%;
        }
    }

    .listing__inner {
        padding: 20px;
    }

    .card {
        height: 350px;

            &__body-title{
                font-size: 1.3em;
            }

    }

}

// Mobile Styles

@media (max-width: $mobile-screen) {

    .cta-component {
        margin-bottom: 10px;
        &__content {
            width: 100%;
        }
    }

    .listing__inner {
        flex-direction: column;
        gap: 30px;
    }

    .card { 
        width: 100%;
        &__body-title {
            font-size: 1.4em;
        }
    }
    
}