@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');



/* Nav Bar*/
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.logo img {
max-width: 100px;
height: 80px;
}

.menu-icon {
font-size: 20px;
color: black;
cursor: pointer;
display: none;
}

.menu {
list-style-type: none;
display: flex;
}

.menu li {
margin-left: 10px;
color: black;
}

.menu li a {
text-decoration: none;
color: black;
font-weight: bold;
font-family: 'M PLUS 1p', sans-serif;
padding: 5px 10px;
}

.menu li a:hover{
text-decoration: none;
color:#FF1616;
font-size: 18px;

}

input[type="checkbox"] {
display: none;
}

/* Media query for responsive design */
@media screen and (max-width: 600px) {
.menu-icon {
    display: block;
}

    .menu {
        display: none;
        flex-direction: column;
        background-color:#FF1616;
        padding: 10px;
        position: fixed;
        top:95px;
        left: 0;
        right: 0;
        height: 300px;
        z-index: 9999;
        opacity: 1;
        
    }

    .menu li {
        margin: 20px 0px;
    }

    .menu li a {
        text-align: center;
        display: block;
        color: black;
        padding: 5px 0;
    }

    input[type="checkbox"]:checked ~ .menu {
        display: flex;
        
        
    }
    }
/* End Nav Bar*/


/* Hero Component */ 
.hero__background-img {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 40%; 
}
  
.hero__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px; 
}

.hero__title {
    font-size: 40px;
    font-family: 'Hina Mincho', serif;
    line-height: 1.2;
}

.button {
    display: inline-block;
    background-color: #FF1616;
    color: #F4F6FC;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.button__text {
    font-weight: bold;
    font-family: 'M PLUS 1p', sans-serif; 
}
/* End Hero Component */


/* Intro Component */
.intro {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
  
.intro__inner {
    max-width: 1200px;
    margin: 0 auto;
}

.intro__title {
    font-size: 38px;
    font-family: 'Hina Mincho', serif;
}


.intro__image {
    opacity: 20%;
}

.intro__body {
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
}

/* End Intro Component */

/* job Component */
.job{
    background-color: #fff5f5;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 80px;
}

.job__inner {
    max-width: 1200px;
    margin: 0 auto;
}

.job__title{
    font-family: 'Hina Mincho', serif;
    font-size: 38px;
}

.job__media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.job__media-image{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    opacity: 50%;
}

.image-container {
    position: relative;
}
  
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #FF1616;
    font-weight: bold;
    font-family: 'M PLUS 1p', sans-serif;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}
/* End job Component */

/* values Component */
.values {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.values__inner {
    max-width: 1200px;
    margin: 0 auto;
}

.values__title {
    font-size: 38px;
    
    font-family: 'Hina Mincho', serif;       
}

.values__text{
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif; 
}
/* End Culture Component */

/* Slider Component */
.slider {
    width: 600px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: -40pxpx;
}
 
.slider__inner {
    max-width: 1200px;
    margin: 0 auto;
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}
  
.slide {
    width: 33.33%;
    height: 100%;
}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.slider-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
.slider-controls label {
    width: 20px;
    height: 20px;
    background-color: #FF1616;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
}
  
.slider-controls label:hover {
    background-color: black;
}
  
.slider__controls input[type="radio"]:checked + label {
    background-color: black;
}
/* End Slider Component */
  
/* Work Component*/
.work {
    background-color: #fff5f5;
    padding: 20px;
    margin-top: 20px;
}

.work__inner {
    max-width: 1200px;
    margin: 0 auto;
}

.work__title{
    font-size: 38px;
    font-family: 'Hina Mincho', serif;       
}

.work__text{
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    
}
/* End Work Component*/

/* Benefits Component */
.benefits {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.benefits__inner {
    max-width: 1200px;
    margin: 0 auto;
}
  
.benefits__title {
    font-size: 38px;
    font-family: 'Hina Mincho', serif;
}

.benefits__text {
    text-align: left;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 20px;
}
   
.benefits__list{
    padding: 20px;
    width: 300px;
    margin: auto;  
}

.benefits__list-item {
    font-size: 18px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}
/* Benefits Component */ 

/* Testimonial Component */
.testimonial{
    background-color: #fff5f5;
    padding: 20px;
    margin-top: 20px;
}

.testimonial__inner{
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial__row {
    display: inline-block;
    text-align: center;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.testimonial__column {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 40px;
    width: 300px;
    align-items: center;
    padding: 30px;
    background-image: linear-gradient(-25deg, #00000033 0%, #ffffff1a 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.testimonial__title{
    text-align: center; 
    font-family: 'Hina Mincho', serif;
    font-size: 38px;
}
   
.testimonial h3 {
    font-family: 'Hina Mincho', serif;
    font-size: 25px;
}

.testimonial h4 {
    color: #FF1616;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 18px;
}

.testimonial p {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 18px;
    padding:20px;
    margin: 0;
    margin-top: 30px;
    background-color: #fff5f5;
    border-radius: 5px;
    text-align: left;
    position: relative;
}

.testimonial__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px #00000066;
    margin-bottom: 10px;
    border: solid 5px #FF1616;
}
/* End Testimonial Component */

/* Footer Content*/
footer{
    background:#000;
    font-family: 'Play', sans-serif;
    text-align:center;
    align-items: center;
    align-content: center;
}

.footer__inner{
  max-width: 1200px;
  margin: 0 auto; 
}
   
.footer__image{
    width: 120px;
    padding-top: 10px; 
}
    
.footer__row{
    color:gray;
    font-size:15px;
    padding-top: 5px;  
}

.footer__text {
    color:gray;
    padding-bottom: 20px;
    font-size: 12px;
}
    
.footer__row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
    
.footer__row a:hover{
    color: #FF1616;
}
    
.footer__row ul{
    text-align: center;
}
    
.footer__row ul li{
    display:inline-block;
    margin:0px 10px;
    font-size: 18px;
}
    
.footer__row a i{
    font-size:2em;    
}
/* End Footer Content*/